<router-outlet></router-outlet>
<div class="row">
    <div style="padding-right:0" class="col-sm-2">
      <div style="background-color:#243342;height:820px;">
        <div class="row" style="margin-left:5px;padding-top:20px">
          <div class="col-sm-2" style="margin-right:0">
            <i style="font-size:1.5rem;color:white" class="fa fa-book"></i>
          </div>
          <div class="col-sm-8" style="margin-left:0;padding-left:0">
            <h1 style="font-size:1.5rem;color:white;margin-left:0">Eckovation</h1>
          </div>
        </div>
      </div>     
    </div>
    <div style="padding-left:0"  class="col-sm-10">
        <nav style="height:100px" class="navbar navbar-light bg-light">
            <span style="color:#5386c5;font-size:2em;padding-left: 20px" class="navbar-brand mb-0 h1">Introduction To Machine Learning</span>
          </nav>
          <div style="padding:30px">
            <div class="card" style="width:300px;">
                <img class="card-img-top" src="https://cdn.eckovation.com/images/Introduction-to-Machine-Learning.png" alt="Card image">
                <div style="text-align:center;color:grey" class="card-body">
                    <h1>Title</h1>
                    <h3>Author</h3>
                    <div style="margin-bottom:30px" class="row">
                      <div class="col-sm-6">
                        Rating
                      </div>
                      <div class="col-sm-6">
                          Students
                        </div>
                    </div>
                  </div>
                  <div style="margin-left:60px">
                    <button (click)='startCourse()' class="bu">Start Course</button>
                  </div>
              </div>
          </div>
    </div>
  </div>
