.bu{
    border-radius: 2px;
    border: solid 1px #ffffff;
    background: transparent;
    padding: 6px 20px;
    /* color: #5386c5; */
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

.card{
    border-radius: 3px;
    margin-bottom: 30px;
    border: none;
    background-color: transparent;
    box-shadow: none;
}